name: Build Spigot Plugin

on:
  push:
    branches:
      - master 
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        env:
          PASTEBIN_DEV_KEY: ${{ secrets.PASTEBIN_DEV_KEY }}
        run: ./gradlew shadowJar

      - name: Upload JAR file
        uses: actions/upload-artifact@v4
        with:
          name: TeaksTweaks
          path: build/libs/TeaksTweaks-*
